{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container justify-content-center" style="max-width: 600px">
    <div class="row justify-content-center">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 image-container">
                <img class="img-fluid rounded-start" alt="Insert epic graphic here">              
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Statistics</h5>
                  <p class="card-text">Our shop currently contains {{item_count}} products and {{user_count}} users</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row justify-content-center">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Populate database</h5>
                  <p class="card-text">Delete all items and users and populate the database with 6 new users and 30 brand new items!</p>
                  <button type="button" class="btn btn-primary" onclick="location.href='populate'">Populate</button>
                </div>
              </div>
              <div class="col-md-4 image-container">
                <img class="img-fluid rounded-start" alt="Insert epic graphic here">
              </div>
            </div>
          </div>
    </div>
    <div class="row justify-content-center">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 image-container">
                <img class="img-fluid rounded-start" alt="Insert epic graphic here">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">N.B.: By going to the store you accept our terms and conditions</p>
                  <a href="/shop"><button type="button" class="btn btn-primary">Lets get shopping!</button></a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}