$primary: #00704A ;

@import '~bootstrap/scss/bootstrap.scss';

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

div.carousel {
    max-height: 200px;
}
div.info-container {
    max-width: 800px;
    margin: 20px;
    border: 5px solid green;
}
div.info-item {
    margin: 20px;
    border: 5px solid red;
}
div.form-input {
    max-width: 400px;
}

.button-group {
    margin-right: 3px;
    margin-left: 3px;
}

div.header-container {
    border-bottom: solid #00704A;
    margin-bottom: 25px;
}

div.product-title {
    border-bottom: solid #00704A;
}

div.products {
    height: 700px;
    overflow-y: auto;
}

div.shopping-cart-row {
    font-size: 20px;
    margin-top: 25px;
    border-bottom: solid 1px $primary;
}
div.shopping-cart-bottom-line {
    font-size: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    border-top: solid 3px $primary;
}

div.cart-popover {
    width: 300px;
}

.clickable {
    cursor: pointer
}