$primary: #00704a;

@import '~bootstrap/scss/bootstrap.scss';

body {
  font: 14px 'Century Gothic';
}

div.info-container {
  max-width: 800px;
  margin: 20px;
  border: 5px solid green;
}
div.info-item {
  margin: 20px;
  border: 5px solid red;
}
div.form-input {
  max-width: 400px;
}

.button-group {
  margin-right: 3px;
  margin-left: 3px;
}

div.header-container {
  border-bottom: solid #00704a;
  margin-bottom: 25px;
}

div.product-title {
  border-bottom: solid #00704a;
}

div.products {
  height: 700px;
  overflow-y: auto;
}
div.my-items-container {
  border: solid 2px #343a40;
  border-radius: 20px;
  margin-top: 25px;
  padding: 12px;
}

div.shopping-cart-row {
  font-size: 20px;
  margin-top: 25px;
}

div.shopping-cart-line {
  border-bottom: solid 1px $primary;
  font-size: 11px;
  color: red;
}
div.shopping-cart-bottom-line {
  font-size: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  border-top: solid 3px $primary;
}

div.cart-popover {
  width: 300px;
}

.clickable {
  cursor: pointer;
}

button.icon-button {
  margin-left: 10px;
}

.dropdown-toggle:after {
  border: 0;
}

a.logo {
  text-decoration: none;
  font-size: 3rem
}
a.logo:hover {
  color: $primary
}

.main {
  background-color: $primary;
}